<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prompt.promptserialportcommunication">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <service
            android:name=".service.UartServicePortZero"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".service.UartServicePortOne"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".service.UartServicePortTwo"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".service.UartServicePortThree"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>